div(class='meetcard meetcard_margin' id=id)
    img(src=imgSrc class='meetcard__image')
    div(class='meetcard__swimblock meetcard__swimblock_top')
        span(class='meetcard__text') #{text}
        div(class='tags meetcard__tags_margin')
            each val, index in tags
                span(class='tags__chips')= val
    h3(class='meetcard__title') #{title}
    h4(class='meetcard__place') #{place}
    h4(class='meetcard__date') #{dateStr}
    if isGoing
        div(class='meetcard__status status status_green') Регистрация идет
    else if isEnd
        div(class='meetcard__status status status_red') Мероприятие закончилось
    else 
        div(class='meetcard__status status status_yellow') Осталось мало мест