div(class='meetcard meetcard_margin' id=id)
    img(src=imgSrc class='meetcard__image')
    div(class='meetcard__swimblock meetcard__swimblock_top')
        span(class='meetcard__text') #{text}
        div(class='tags meetcard__tags_margin')
            each val, index in tags
                span(class='tags__chips')= val
    h3(class='meetcard__title') #{title}
    h4(class='meetcard__place') #{city}, #{address}
    h4(class='meetcard__date') #{dateStr}

    div(class=status.class) #{status.text}