div(class='meet')
    div(class='meet__head')
        div(class='meet__leftcolumn')
            div(class='meet__title-status-wrapper')
                h1(class='meet__title') #{title}
                div(class=status.class) #{status.text}
            div(class='meet__dateplace') #{place}
            div(class='meet__dateplace') #{dateStr}
        div(class='meet__rightcolumn')
            button(class=buttonStatus.class) #{buttonStatus.text}
            div(class='meet__like-icon')
                if isLiked
                    img(src='/assets/like.svg')
                else 
                    img(src='/assets/heart.svg')
    img(class='meet__image' src=imgSrc)
    div(class='meet__bottom')
        div(class='meet__leftcolumn_bottom')
            h1(class='meet__about-titile') #{title}
            span #{text}
        div(class='meet__vertical-separator')
        div(class='meet__rightcolumn_bottom')
            each val, index in tags
                span(class='meet-tag meet-tag_margin5')= val