div(class='meet')
    img(class='meet__image' src=card.label.imgSrc)

    div(class='meet__text-wrapper')
        div(class='meet__tags')
            each val, index in card.tags
                span(class='meet__tag') #{val.name}
                span(class='meet__separator') •

        h1(class='meet__title') #{card.label.title}
        div(class='meet__date-place-wrapper')
            span(class='meet__place') #{card.city}, #{card.address}
            span(class='meet__separator') •  
            span(class='meet__date') #{dateStr}

        div(class='meet__buttons')
            if buttonStatus
                button(class='meet__button '+buttonStatus.class) #{buttonStatus.text}
            div(class='meet__like-icon-wrapper')
                if isLiked
                    img(class='meet__like-icon' src='assets/like.svg')
                else 
                    img(class='meet__like-icon' src='assets/heart.svg')
                span(class='meet__like-text') Хочу сходить

    div(class='meet__about')
        div(class='meet__text-wrapper')
            h1(class='meet__sub-title') О мероприятие
            span(class='meet__text') #{card.text}

        div(class='meet__author-wrapper')
            h1(class='meet__sub-title') Организатор
            img(class='meet__author-avatar' src=author.imgSrc)
    div(class='meet__members')
        div(class='meet__members-title')
            h1(class='meet__sub-title') Участники
            h1(class='meet__members-count') 35
        div(class='meet__members-wrapper')
    iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3Ac78b6e1d2f5544d8effb2c4733a981ae831ca1b1354e3f98afb57c80cc27eead&amp;source=constructor' width='100%' height='400px' frameborder='0')
    
    h1(class='meet__sub-title') Похожие