div(class='meet')
    img(class='meet__image' src=card.label.imgSrc)

    div(class='meet__text-wrapper')
        div(class='meet__tags')
            each val, index in card.tags
                span(class='meet__tag') #{val.name}
                span(class='meet__separator') •

        h1(class='meet__title') #{card.label.title}
        div(class='meet__date-place-wrapper')
            span(class='meet__place') #{card.city}, #{card.address}
            span(class='meet__separator') •  
            span(class='meet__date') #{dateStr}

        div(class='meet__buttons')
            if buttonStatus
                button(class='meet__button '+buttonStatus.class) #{buttonStatus.text}
            div(class='meet__like-icon-wrapper')
                if isLiked
                    img(class='meet__like-icon' src='assets/like.svg')
                else 
                    img(class='meet__like-icon' src='assets/heart.svg')
                span(class='meet__like-text') Хочу сходить

    div(class='meet__about')
        div(class='meet__text-wrapper')
            h1(class='meet__sub-title') О мероприятие
            span(class='meet__text') #{card.text}

        div(class='meet__author-wrapper')
            h1(class='meet__sub-title') Организатор
            img(class='meet__author-avatar' src='assets/empty-avatar.jpeg')

    div(class='meet__members')
        div(class='meet__members-title')
            h1(class='meet__sub-title') Участники
            h1(class='meet__members-count') 35
        div(class='meet__members-wrapper')
            div(class='meet__member')
                img(class='meet__member-avatar' src='assets/empty-avatar.jpeg')
                h3(class='meet__member-name') Kokos
            div(class='meet__member')
                img(class='meet__member-avatar' src='assets/empty-avatar.jpeg')
                h3(class='meet__member-name') Kokos
            div(class='meet__member')
                img(class='meet__member-avatar' src='assets/empty-avatar.jpeg')
                h3(class='meet__member-name') Kokos
            div(class='meet__member')
                img(class='meet__member-avatar' src='assets/empty-avatar.jpeg')
                h3(class='meet__member-name') Kokos
            div(class='meet__member')
                img(class='meet__member-avatar' src='assets/empty-avatar.jpeg')
                h3(class='meet__member-name') Kokos
            div(class='meet__member')
                img(class='meet__member-avatar' src='assets/empty-avatar.jpeg')
                h3(class='meet__member-name') Kokos

    
    h1(class='meet__sub-title') Похожие